<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<table>
 <thead>
     <th>department</th>
     <th>Stock</th>
     <th>customer</th>
     
 </thead>
 <tr>
     {% for s in form  %}
     
     <td>{{s.department}}</td>
     <td>{{s.stock}}</td>
     <td>{{s.customer}}</td>
     
     
 
 </tr>
 {% endfor %}
 
</table>
<a href="#"><button type="button"> Add new Student</button></a>

</body>
</html>